body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.no_month{
  color: rgb(139, 133, 133);
}

#lista_horario li{
  border:midnightblue solid 1px;
  padding:2px 2px 2px 2px;
  width: 70%;
  font-size: 13px;
}

li{
  list-style:none
}

.hora{
  border-right: black solid 1px;
}

#lista-clientes-filtrado-nombre li{
  border:midnightblue solid 1px;
  padding:2px 2px 2px 2px;
  width: 90%;
}

#contenedor_tabla_calendario{
  margin-top:25px;
}

#navegacion_calendario{
  margin-right:150px;
  margin-left:100px;
}

#navegacion_calendario button{
  margin-top:18px;
  background-color: midnightblue;
}

#navegacion_calendario h1{
  text-align:center;
}

#tabla_calendario{
  width: 50%;
}

#actualizar_cita_componente{
  border:midnightblue solid 3px;
  margin-left:10px;
  padding: 10px 10px 10px 10px;
}

#insertar_cita_componente{
  border:midnightblue solid 3px;
  margin-top: 10px;
  margin-left:10px;
  padding: 10px 10px 10px 10px;
  height:300px;
}

#horario_citas_componente{
  border:midnightblue solid 3px;
  padding-bottom:2px;
}

#cabecera{
  background-color: midnightblue;
  height:50px;
  margin-bottom:18px;
}

#wrapper{
  padding-left:40px;
  padding-right:20px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 18px;
  color: darkgray; 
}

.navbar-default .navbar-nav>li>a {
  color: darkgray; 
}

#menu{
  background-color: midnightblue;
  height:50px;
}

#formulario_insertar_mascota{
  width:40%;
}

thead{
  color: midnightblue;
  font-size: 20px;
}

th{
  border:midnightblue solid 2px;
  height:60px;
  width: 130px;
  text-align: center;
}

th div{
  height:100%;
}
th div .fecha{
  height:20%;
  text-align:left;
  font-size:16px;
  margin-left:5px;
  margin-top:5px;
  padding-top:0px;
}
th div div{
  padding-top:10px;
  height:80%;
}
th div div span{
  color:rgb(35, 70, 136);
}

