body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.no_month{
  color: rgb(139, 133, 133);
}

#lista_horario li{
  border:black solid 1px;
  padding:2px 2px 2px 2px;
  width: 30%;
}

.hora{
  border-right: black solid 1px;
}

#lista-clientes-filtrado-nombre li{
  border:black solid 1px;
  padding:2px 2px 2px 2px;
  width: 35%;
}