<div ng-controller="InsertarCitaController">
    
    <ul>
        <li ng-repeat="cliente in clientes">
            <label for="nombre">Nombre:</label><span>{{cliente.nombre}}</span>
            <label for="apellidos">Apellidos:</label><span>{{cliente.apellidos}}</span>
            <label for="dni">DNI:</label><span>{{cliente.dni}}</span>
        </li>
    </ul>
    
    <input type="text" ng-model="nombreFiltrado">
    <input type="button" value="filtrar" ng-click="actualizarListaMascotas(nombreFiltrado)">
</div>