<div ng-controller="CalendarioCitasController">
    <input type="button" value="<<" ng-click="decrementarMes()">
    <h1>{{nombreMes}}</h1><h2>{{ year}}</h2>
    <input type="button" value=">>" ng-click="incrementarMes()">
    <table>
        <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
            <th>Domingo</th>
        </tr>
        <tr ng-repeat="semana in semanasMes">
            <th ng-repeat= "dia in semana" ng-click="irHorarioDia()">
                <div class="{{dia.esMesActual}}">
                    <span>{{dia.fecha.get('date')}}</span>
                    <span>{{dia.numeroCitas}}</span>
                </div>
            </th>
        </tr>
    </table>
</div>