<div ng-controller="CalendarioCitasController">
    <div id="navegacion_calendario" class="row">
        <input type="button" value="<<" class="col-md-1" ng-click="decrementarMes()">
        <div class="col-md-10"><h1 >{{nombreMes}} {{ year}}</h1></div>
        <input type="button" value=">>" class="col-md-1" ng-click="incrementarMes()">
    </div>
    <table id="tabla_calendario">
        <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
            <th>Domingo</th>
        </tr>
        <tr ng-repeat="semana in semanasMes">
            <th ng-repeat= "dia in semana" >
                <div class="{{dia.esMesActual}}" ng-click="irHorarioDia(dia.fecha.format('YYYY-MM-DD'))">
                    <span>{{dia.fecha.get('date')}}</span>
                    <span>{{dia.numeroCitas}}</span>
                </div>
            </th>
        </tr>
    </table>
</div>