<div>
    <div><span>ID</span><span> {{cliente._id}}</span></div>
    <div><span>Nombre</span><span> {{cliente.nombre}}</span></div>
    <div><span>Apellidos</span><span> {{cliente.apellidos}}</span></div>
    <div><span>DNI</span><span> {{cliente.dni}}</span></div>
    <div><span>Telefono</span><span> {{cliente.telefonos}}</span></div>
    <div><span>Notas</span><span> {{cliente.notas}}</span></div>
    <input type="button" value="actualizar" ng-click="irActualizarCliente()">
    <ul>
        <li ng-repeat="mascota in listaMascotas">
            <div>
                <span> {{mascota.nombre}}</span>
                <span> {{mascota.especie}}</span>
                <span> {{mascota.raza}}</span>
                <input type="button" value="detalle" ng-click="irDetalleMascota(mascota._id)">
            </div>
        </li>
    </ul>
    <input type="button" value="insertar" ng-click="irInsertarMascota()">
</div>